@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

@font-face {
    font-family: "SerreriaExtravagante";
    src: url("fonts/SerreriaExtravagante.otf") format("opentype");
    font-weigth: normal;
    font-style: normal;
}

* { /* applying to all elements */
    box-sizing: border-box; /* includes padding in pixel size */
    font-family: Raleway;
    color: #669;
}

html, body { /* gets rid of white edge on sides of header */
    margin: 0;
    padding: 0;
}

.nav ul { /* gets rid of white edge on top of header */
    margin: 0;
}

.nav li {
    display: inline; /* makes all list elements in nav class sit side by side */
}

.nav a { /* styles text of navigation bar (because they are contained in anchors */
    display: inline-block; /* lets us add padding and height to element which we can't do with just inline */
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover { /* only styles when we hover over specified element */
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    display: block;
    text-align: center; /* aligns element to center of page */
    font-size: 1.1em; /* makes font 10% bigger */
    font-weight: lighter;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.main-header { /* affects all html elements with main-header class */
    background-color: rgba(220, 200, 255, .3);
    background-image: url("images/waves-resized.jpg");
    background-size: cover; /* tells image to expand as wide or as tall as it can before hitting edge */
    background-blend-mode: multiply; /* lets us have both color and image */
    padding-bottom: 70px;
}

.singer-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "SerreriaExtravagante";
    font-weight: normal;
    color: white;
}

.singer-name-large {
    padding-top: 70px;
    font-size: 9em;
}

.content-section {
    margin: 1em;
    font-size: 1.3em;
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* automatically centers text and puts even margin around it */
    padding: 0 1.5em; /* no padding on top and bottom, a little on the sides */
}

.section-header {
    font-family: "Numans";
    font-weight: normal;
    color: #447;
    text-align: center;
    font-size: 2.5em;
}

.about-singer-image {
    float: left;
    width: 400px;
    margin: 30px;
    border-radius: 50%;
}

.main-footer {
    background-color: #4F5C7C;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex; /* flex box is complex CSS element, here it is lining up heading and list side-by-side */
    align-items: center; /* centers everything vertically in its flex box */
}

.main-footer-container ul {
    flex-grow: 1; /* makes list take up as much space as possible */
    text-align: end; /* makes text align to right side instead of left side */
    padding: 1em;

}

.footer-nav li {
    padding: 0 .5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em; /* adds space between text and edge of button */
    cursor: pointer; /* turns cursor into pointing hand when hovering over button */
}

.btn-header {
    display: block;
    margin: 0 auto; /* can use .5em 15% 2em 15% to make it off-center */
    color: white;
    border: 2px solid #66bad6;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block; /* buttons are not block elements, need to make it a block to use auto margin */
    margin: 0 auto;
    color: #66bad6;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid #447;
    padding-bottom: 1em; /* space between content and border */
    margin-bottom: 1em; /* space between row below border */

}

.tour-row:last-child { /* selects last item with the class */
    border-bottom: none;
}

.tour-item {
    display: inline-block; /* makes it possible to adjust width, adds a bit of unremovable space */
    padding-right: .5em;
}

.tour-date {
    color: #558;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 28%;
}

.tour-arena {
    width: 41%;
}

.tour-btn {
    max-width: 16%; /* subtracted about 1% from each to account for inline block extra spacing, so a little less than 100% */
}

.btn-primary {
    color: white;
    background-color: #66bad6;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: .8em;
    font-size: .75em;
}

.btn-primary:hover {
    background-color: #56a2bb;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: flex;
    width: 350px;
    height: 3em;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color:#558;
    margin-bottom: 5px;
}

.shop-item-image {
    width: 350px;
}

.shop-item-details {
    display: flex;
    align-items: center; /* lets us vertically align items to center */
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1; /* price will take up as much width as possible */
    font-size: 1.2em;
    color: #558;
}

.shop-items {
    display: flex;
    flex-wrap: wrap; /* if shop item goes past edge of screen, they will wrap down to row below */
    justify-content: space-around; /* puts even amount of space on left and right of elements inside container */
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #558;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #447;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
}

.cart-quantity {
    width: 35%; /* can make widths add up to exactly 100% because flexbox does not add extra spacing like inline block does */
}

.cart-item-title {
    color: #558;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #66bad6;
    background-color: #eee;
    color: #558;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-quantity-input:focus {
    outline: 2px solid #56a2bb;
}

.cart-row:last-child {
    border-bottom: 1px solid #447;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color:#336;
    margin-right: 20px;
}

.cart-total-price {
    color: #447;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}