@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face {
    font-family: "SerreriaExtravagante";
    src: url("fonts/SerreriaExtravagante.otf") format("opentype");
    font-weigth: normal;
    font-style: normal;
}

* { /* applying to all elements */
    box-sizing: border-box; /* includes padding in pixel size */
    font-family: Raleway;
    color: #669;
}

html, body { /* gets rid of white edge on sides of header */
    margin: 0;
    padding: 0;
}

.nav, ul { /* gets rid of white edge on top of header */
    margin: 0;
}

.nav, li {
    display: inline; /* makes all list elements in nav class sit side by side */
}

.nav a { /* styles text of navigation bar (because they are contained in anchors */
    display: inline-block; /* lets us add padding and height to element which we can't do with just inline */
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover { /* only styles when we hover over specified element */
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    display: block;
    text-align: center; /* aligns element to center of page */
    font-size: 1.1em; /* makes font 10% bigger */
    font-weight: lighter;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.main-header { /* affects all html elements with main-header class */
    background-color: rgba(220, 200, 255, .3);
    background-image: url("images/waves-resized.jpg");
    background-size: cover; /* tells image to expand as wide or as tall as it can before hitting edge */
    background-blend-mode: multiply; /* lets us have both color and image */
    padding-bottom: 70px;
}

.singer-name {
    text-align: center;
    margin: 0;
    padding-top: 70px;
    font-size: 4em;
    font-family: "SerreriaExtravagante";
    font-weight: normal;
    color: white;
}

.singer-name-large {
    font-size: 9em;
}